/* stylelint-disable */

// bootstrap variable overites
$font-family: Roboto, "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;

$grey1: #f4f4f4;
$dark1: #363636;
$black: #000;
$primary: #000;
$secondary: #00acc1;

// $danger: $red;
// $dark: $dark1;
// $warning: $orange;
// $muted: $grey2;

$body-color: $primary;
$white: $grey1;
$body-bg: $grey1;

$theme-colors: ("primary": $primary, "dark": $black, "white": $grey1, "secondary": $secondary);

$default-border-radius: 2px;
