@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

@import "./variables";
@import "./bootstrap";
@import "./mixins.scss";
@import "./responsive.scss";

html {
    background: $white;
    background-color: $white !important;
}

body {
    font-family: $font-family;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: $body-color;
    margin-bottom: 0;
}

.navbar {
    h6 {
        color: $white;
    }

    svg {
        color: $white;
    }
}

.cf {
    &::after {
        display: block;
        clear: both;
        content: "";
    }
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.larger{
    font-size:larger;
}
.smaller {
    font-size: smaller;
}

.strong {
    font-weight: 700;
}

.text-muted {
    color: $muted !important;
}
